.home_page_body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    /* background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg); */
    /* background-image: url('../../images/Wallpaper/earth.jpg'); */
    background-image: url('../images/earth.jpg');
    /* -webkit-filter: blur(4px); */
    filter: blur(4px);
    background-size: cover;
    z-index: 0;
}

.home_page_grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.home_page{
    position: absolute;
    top: calc(30% - 75px);
    left: calc(40% - 45px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.home_page_header{
    position: absolute;
    top: calc(40% - 100px);
    /* left: calc(50% - 255px); */
    z-index: 2;
}

.home_page_header div{
    float: left;
    color: #fff;
    /* font-family: 'Exo', sans-serif; */
    font-size: 35px;
    font-weight: 200;
}

.home_page_header div span{
    color: #5379fa !important;
}


.home_page_container{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    /* color: #777;
    background: #4CAF50; */
    max-width: 400px;
    width: 300%;
    margin: 0 auto;
    position: relative;

    background: #F9F9F9;
  padding: 25px;
  /* margin: 150px 0; */
  margin-top: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.page_text{
    /* font-family: Montserrat-Regular; */
  /* font-size: 13px; */
  /* line-height: 1.4; */
  color: black;
  font-weight: 300px;
  font-size: 15px;
}

.page_text span{
  color: blue;
}

.logout_btn{
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    cursor: pointer;
    width: 90%;
    border: none;
    background: #3c8dbc;
    color: #FFF;
    /* margin: 0 0 5px; */
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
}

.logout_btn:hover{
    background: #61dafb;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.logout_btn:active{
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}