.toast_Processing {
    background-color: #5589b5;
  }
  
  .toast_Success {
    background-color: #449d44;
  }
  
  .toast_Failed{
    background-color: #c9302c;
  }
  
  .toast_Notification{
    background-color: #333;
  }
  
  .toast_Warning{
    background-color: #d58512;
  }

  .toast_Processing, .toast_Success, .toast_Failed, .toast_Notification, .toast_Warning{
    visibility: hidden;
    min-width: 325px;
    margin-left: -100px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 18px;
    position: fixed;
    z-index: 50;
    left: 75%;
    /* bottom: 80%; */
    bottom: 30px;
    font-size: 14px;
  }

  .modal_message{
    font: 18px "Roboto", Helvetica, Arial, sans-serif;
    /* font-size: 25px; */
    font-weight: 200;
  }

  .show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  .animate_zoom {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
  }